@import 'style.css';

.goodscard {
  box-sizing: border-box;
  width: 160px;
  height: 420px;
}

.goodscard--image {
  background-color: var(--color-white);
  border: 1px solid var(--color-grey);
  border-radius: 8px;
  box-sizing: border-box;
  width: 160px;
  height: 160px;
}

.goodscard--text-score {
  padding: 8px;
}