.header {
  /*display: flex;
  margin: 20px;*/
  height: 32px;
  padding: 1rem;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--logo {
  width: 50px;
  height: 30px;
}

.header--icons-bell, .header--icons-user, .header--icons-search
{
  margin-left: 4px;
  margin-right: 4px;
}