.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar--icons {
  text-align: center;
}

.navbar--icons-home, .navbar--icons-goods, .navbar--icons-register,
.navbar--icons-review, .navbar--icons-faq
{
  display: inline-block;
  line-height: 0px;
  margin: 16px 24px 16px 24px;
}